Language: Cpp
BasedOnStyle: LLVM
Standard: c++20
ColumnLimit: 100
IndentWidth: 2
ContinuationIndentWidth: 4
AccessModifierOffset: -2
PointerAlignment: Right
ReferenceAlignment: Right
DerivePointerAlignment: false
NamespaceIndentation: None
CompactNamespaces: false
AllowShortFunctionsOnASingleLine: None
AllowShortIfStatementsOnASingleLine: Never
AllowShortLoopsOnASingleLine: false
AllowShortBlocksOnASingleLine: Never
BreakBeforeBraces: Attach
InsertBraces: true
IndentCaseLabels: false
SortIncludes: false
IncludeBlocks: Preserve
SpacesBeforeTrailingComments: 1
InsertNewlineAtEOF: true
MaxEmptyLinesToKeep: 1
